@import '../../variables';

.nav {
  display: flex;
  padding: 1em;
  background: white;
  align-items: center;
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: 28px;
  &-title {
    margin-bottom: 0;
  }
  & .create_article {
    height: 25px;
    padding: 0.5em;
    color: $sign_up;
    border: 1px solid $sign_up;
    border-radius: 5px;
    &:hover {
      border: 1px dashed rgb(25, 255, 45);
    }
  }
  &-user--block {
    display: flex;
    align-items: center;
    gap: 1em;
    & .username {
      color: black;
    }
  }
  & .log_out {
    border-radius: 5px;
    padding: .8em;
    color: black;
    border: 1px solid black;
  }
  & .nav-sign {
    margin-left: auto;
    display: flex;
    gap: 1em;
    align-items: center;
  }
  & .sign_up {
    background-color: white;
    padding: 0.5em 1em;
    margin-left: 1em;
    color: $sign_up;
    border: 1px solid $sign_up;
    border-radius: 5px;
    &:hover {
      border: 1px dashed rgb(25, 255, 45);
    }
  }
  & .sign_in {
    background-color: white;
    border: none;
    color: black;
  }
}
