@import '../../variables';

html body {
  background: #ebeef3;
}

.App {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}
button {
  padding: 0;
  margin: 0;
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.error {
  color: $error;
}
