.App {
  background: rgb(238, 223, 223);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}
.container {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  max-width: 1010px;
  margin: 1em auto;
  min-width: 320px;
  height: auto;
  position: relative;
  padding: 0 80px;
}