@import '../../../variables';

.expanded-post {
  padding: 15px 14px 24px 19px;
  margin-bottom: 26px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  background: #ffffff;
  border-radius: 5px;
  & .post {
    align-items: flex-start;
    display: flex;
    gap: 8em;
    justify-content: space-between;
    & .post-header {
      display: flex;
      align-items: center;
    }
    & span {
      padding: 0;
    }
    & .count {
      margin-left: 5px;
    }
  }
  & .user {
    & .user-name {
      color: rgba(0, 0, 0, 0.85);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 30px;
      & .author_date {
        display: grid;
      }
      & span {
        text-align: end;
      }
    }
    & .buttons {
      right: 0;
      display: flex;
      gap: 12px;
      & button {
        text-transform: none;
      }
    }
    & .delete {
      padding: 6px 17px 5px 17px;
      color: red;
      border-color: red;
      border: 1px solid red;
      border-radius: 5px;
      &:hover {
        border: 1px dashed red;
      }
    }
    & .edit {
      padding: 6px 17px 5px 17px;
      background-color: white;
      color: $sign_up;
      border: 1px solid $sign_up;
      border-radius: 5px;
      &:hover {
        border: 1px dashed rgb(25, 255, 45);
      }
    }
  }
  & .title {
    max-width: 550px;
    color: $border-color;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    margin-right: 13px;
    margin-bottom: 4px;
  }
  & div .tag {
    max-width: 550px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding: 2px 6px 3px 5px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.75);
  }
  & .description {
    max-width: 550px;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
  }
  & .image {
    border-radius: 50px;
    width: 45px;
    height: 45px;
  }
  & .created-date {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  & .body {
    margin-top: 25px;
    color: rgba(0, 0, 0, 1);
  }
}
