@import '../../variables';

.post {
  display: flex;
  position: relative;
  gap: 8em;
  padding: 1em;
  margin-bottom: 2em;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  background: #ffffff;
  border-radius: 5px;
  align-items: stretch;
  justify-content: space-between;
  & .post-header {
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
  & .user {
    display: grid;
    position: absolute;
    right: 10px;
    top: 5px;
    grid-template-columns: 1fr 0.8fr;
    justify-items: end;
    & .user-name {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  & .title {
    color: $border-color;
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
  }
  & .tag {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 0.2em;
    margin-right: 0.5em;
  }
  & .description {
    font-size: 12px;
    line-height: 22px;
  }
  & .image {
    border-radius: 50px;
    width: 45px;
    height: 45px;
  }
  & .created-date {
    color: rgba(0, 0, 0, 0.5);
  }
}
